{% extends 'base-login.html' %}
{% load static %}

{% block login %}
  <div class="col-md-5 m-auto">
    <div class="text-center mt-5">
      <img src="{% static 'images/logo.png' %}" class="logo" data-aos="zoom-in">
      <h2 class="m-3 prototype shadow-text" data-aos="zoom-in" data-aos-duration="600">myClass.</h2>
    </div>
    <div class="card shadow-solid mb-5" data-aos="zoom-in" data-aos-duration="700">
      <div class="card-body">
        {% if form.errors %}
          <div class="alert alert-danger">email dan password tidak cocok. coba lagi.</div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" name="username" class="form-control" placeholder="email" autofocus required>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">@smkn4-tsm.sch.id</span>
            </div>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="password" required>
          </div>
          <div class="from-group text-center">
            <button class="btn btn-blue" type="submit">Login <span class="oi oi-account-login"></span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
